 
<div class="jumbotron jumbotron-fluid d-flex flex-column col-md-12 mh-100" style="background-image: url(assets/Images/fondo-juego.jpg); background-size: cover; background-position: center;">
    <div class="container d-flex flex-column vh-100" > <br><br><br>
      <div class="jumbotron jumbotron-fluid align-items-center col-md-8 mx-auto bg-dark m-0" >
            <div class="container rounded d-flex flex-column align-items-center">
              <a   class="text-center cooking text-primary">
                Puntuaciones
            </a><br><br><br>
            <ul>
                <li> <img src="assets/Images/Taco.png" width=50px;><a class="cooking" style="color: orangered">1. Kreuk</a></li>
                <li> <img src="assets/Images/Hamburguesa.png" width=50px;><a class="cooking" style="color: green">2. Sakiel</a></li>
                <li> <img src="assets/Images/Pizza.png" width=50px;><a class="cooking" style="color: green">3. Hks</a></li>
            </ul>
            <br><br><br> <a href="inicio()" class="text-center cooking text-primary" >Salir
            </a>
      </div>
    </div> 
    </div> 
    
      <!-- footer -->
    <footer class="mastfoot mt-auto bg-dark text-center">
        <div class="inner">
          <p class="text-light">Creada para: <a href="https://getbootstrap.com/">Multimedia Interactiva</a>, por <a href="https://twitter.com/mdo">@kreuk</a>.</p>
        </div>
      </footer>
    <!-- footer -->
    <router-outlet></router-outlet>