 
<div class="jumbotron jumbotron-fluid d-flex flex-column col-md-12 mh-100" style="background-image: url(assets/Images/fondo-juego.jpg); background-size: cover; background-position: center;">
    <div class="container d-flex flex-column vh-100" > <br><br><br>
      <div class="jumbotron jumbotron-fluid align-items-center col-md-8 mx-auto bg-dark m-0" >
            <div class="container rounded d-flex flex-column align-items-center">
              <a  class="text-center cooking text-primary">
                Opciones
            </a><br><br><br>
            <a  class="text-center cooking" style="color:orange">
            Elige Jugador
              </a>
              <div class=" align-items-cd-flexenter clearfix center col-md-8"><button  class="btn btn-primary align-items-center btn-lg col-md-4 " style="height: 50px;">Jugador 1</button>
                <button  class="btn btn-dark btn-lg col-md-4 " style="height: 50px;"></button>
                <button  class="btn btn-primary btn-lg col-md-4 " style="height: 50px;">Jugador 2</button></div>
              <a  class="text-center cooking" style="color:orange">
              Elige Dificultad
              </a>
              <div class=" align-items-cd-flexenter clearfix center col-md-8">
                  <button  class="btn btn-primary align-items-center btn-lg col-md-4 " style="height: 50px;">Principiante</button>
                  <button  class="btn btn-primary btn-lg col-md-4 " style="height: 50px;">Intermedio</button>
                  <button  class="btn btn-primary btn-lg col-md-4 " style="height: 50px;">Avanzado</button></div>
               <br><br><br> <a href="inicio()"  class="text-center cooking text-primary" >Salir
                </a>
              </div>
      </div>
    </div> 
    </div> 
    
      <!-- footer -->
    <footer class="mastfoot mt-auto bg-dark text-center">
        <div class="inner">
          <p class="text-light">Creada para: <a href="https://getbootstrap.com/">Multimedia Interactiva</a>, por <a href="https://twitter.com/mdo">@kreuk</a>.</p>
        </div>
      </footer>
    <!-- footer -->
    <router-outlet></router-outlet>