 
<div class="jumbotron jumbotron-fluid d-flex flex-column col-md-12 mh-100" style="background-image: url(assets/Images/fondo-juego.jpg); background-size: cover; background-position: center;">
<div class="container d-flex flex-column vh-100" > <br><br><br>
  <div class="jumbotron jumbotron-fluid align-items-center col-md-8 mx-auto bg-dark m-0" >
        <div class="container rounded d-flex flex-column">
          <a  href="https://cooking-wars-game.herokuapp.com/" class="text-center cooking">
            Jugar
        </a>
        <a href="opciones()" class="text-center cooking" routerLink="opciones">
          
        Opciones
        </a>
          <a href="puntuaciones()" class="text-center cooking">
          Puntuaciones
          </a>
            <a href="inicio()" class="text-center cooking">Salir
            </a>
          </div>
  </div>
</div> 
</div> 

  <!-- footer -->
<footer class="mastfoot mt-auto bg-dark text-center">
    <div class="inner">
      <p class="text-light">Creada para: <a href="https://getbootstrap.com/">Multimedia Interactiva</a>, por <a href="https://twitter.com/mdo">@kreuk</a>.</p>
    </div>
  </footer>
<!-- footer -->
<router-outlet></router-outlet>